*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-wrap: wrap;
}
header{
    background-color: grey;
    display: flex;
    justify-content: center;
    width: 100%;
}
nav{
    background-color: lightgreen;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
main{
    background-color: brown;
    width: 70%;
}
aside{
    background-color: blue;
    width: 30%;
}
footer{
    background-color: rgb(1, 87, 148);
    width: 100%;
}
